.environment {
  padding: 9.6rem 0 10.4rem;
  background: var(--bg-color-accent);
  &__title {
    margin-bottom: 6.4rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -3.2rem;
    row-gap: 5rem;
  }
  &__item {
    flex: 0 0 calc(100% / 3 - 6.4rem);
    margin: 0 3.2rem;
    display: flex;
    column-gap: 2.4rem;
  }
  &__subtitle {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--text-color-dark);
  }
  &__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--text-color);
  }
}
