.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  color: #fff;
  background: var(--accent);
  transition: all 0.3s ease;
  border-radius: 0.4rem;
  border: none;
  &:hover {
    background: var(--accent-hover);
  }
  &.btn--white {
    color: var(--text-color-dark);
    background: #fff;
    &:hover {
      color: #fff;
      background: var(--text-color-dark);
    }
  }
}
