.label {
  position: relative;
  padding-left: 9.6rem;
  font-family: var(--font-1);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--text-color-dark);
  @media screen and (max-width: 992px) {
    padding-left: 0;
  }
  &::before {
    content: "";
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-2px);
    width: 70px;
    height: 2px;
    background: var(--text-color-dark);
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
