.plantation {
  margin-bottom: 9.6rem;
  padding: 9.6rem 0;
  background: var(--bg-color-accent);
  &__wrap {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem;
    border: 1px solid red;
  }
  &__item {
    flex: 1 0 48.8rem;
    display: flex;
    column-gap: 2rem;
  }
  &__title {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.6;
    color: var(--text-color-dark);
  }
}
