.event-content {
  margin-bottom: 9.6rem;
  @media screen and (max-width: 576px) {
    margin-bottom: 6rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color: var(--text-color-dark);
  }
  h2 {
    margin-bottom: 3.2rem;
    font-size: 4.8rem;
    line-height: 1.2;
    @media screen and (max-width: 576px) {
      font-size: 3.2rem;
    }
  }
  h4 {
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
    line-height: 1.5;
  }
  p {
    margin-bottom: 2.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-color);
  }
  ul {
    margin-bottom: 3.2rem;
    list-style: disc;
    list-style-position: inside;
  }
  li {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-color);
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
  }
}
