.event-intro {
  padding: calc(9.6rem + 6.7rem) 0 9.6rem;
  margin-bottom: 9.6rem;
  background: var(--bg-color-accent);
  @media screen and (max-width: 576px) {
    padding: calc(6rem + 6.7rem) 0 6rem;
    margin-bottom: 4rem;
  }
  &__title {
    margin-bottom: 4.8rem;
  }
  &__wrap {
    display: flex;
    align-items: center;
    column-gap: 4.8rem;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
  &__info {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-color-dark);
  }
}
