.home-intro {
  position: relative;
  margin-bottom: 9.6rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 50%);
    z-index: 2;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__content {
    padding-top: 12.9rem;
    padding-bottom: 6.4rem;
    @media screen and (max-width: 576px) {
      padding-top: 10rem;
      padding-bottom: 3.2rem;
    }
  }
  &__title {
    margin-bottom: 4.8rem;
    max-width: 66rem;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.2;
    color: #fff;
    @media screen and (max-width: 768px) {
      font-size: 4.8rem;
    }
  }
  .btn {
    margin-bottom: 19.2rem;
    @media screen and (max-width: 576px) {
    margin-bottom: 10rem;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__line {
    flex: 1;
    height: 1px;
    background: #e5e5e5;
    // @media screen and (max-width: 1200px) {
    //   // width: 70vw;
    //   width: 68%;
    // }
  }
  &__text {
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    &:first-of-type {
      padding-right: 3rem;
      @media screen and (max-width: 576px) {
        padding-bottom: 1rem;
      }
    }
    &:last-of-type {
      padding-left: 3rem;
      @media screen and (max-width: 576px) {
        text-align: right;
        padding-top: 1rem;
      }
    }
  }
}
