.logos {
  margin-bottom: 6.4rem;
  &__title {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      // column-gap: 4rem;
      gap: 4rem;
      justify-content: flex-start;
    }
  }
}
